.picker {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 1%
}


.b {
margin-right: 1%;
 display: flex;
 align-items: center;
 justify-content: center;

flex-direction: column; 

}

.parent {
  display: flex;
  flex-direction: column;
}